@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Maintainer - Add new weather";
}

<h2>Add new weather information</h2>

<p>This is the form to add new weather information</p>