@model Assignment2.WebApplication.ViewModels.MaintainerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Maintainer";
    
}
@*This is the view for Maintainer*@
<h2>This is Maintainer Page.</h2>
@if (Model.Weatherinfos.Count == 0)
{
    <text>There is no data found!</text>
}
else
{
    <ul>
        @foreach (var wetherinfo in Model.Weatherinfos)
        {
            <li>@wetherinfo.Day</li>
        }
    </ul>
}

<p>This is the Weather information of the week!</p>
