@model Assignment2.WebApplication.Models.MaintainerModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Maintainer";
    
}
<h2>This is Maintainer Page.</h2>
<h2>@Model.Day</h2>

<p>This is the table of Weather information</p>
