@{
    ViewBag.Title = "Home Page";
}

@using Assignment2.WebApplication.Controllers
@using Assignment2.Database.SmallDbForQuestionHistory
@model NewModel


<div class="jumbotron">
    <h1>WEARther Forecast</h1>
    <p class="lead">We can provide you with information about the weather and recommendation of what to wear within a week.</p>
</div>


<div id="container">
    <div id="history">
        <ul id="dialog">

            @if (Model.history.Count > 0)
            {
                foreach (var item in Model.history)
                {
                    <li class="question"><p>@item.Question</p></li>

                    if (item.Answer == null || item.Answer == "")
                    {
                        <li class="answer"><p>Sorry, I don't know the answer to your question. <br />But you can say something else to me!</p></li>
                    }
                    else
                    {
                        <li class="answer"><p>@item.Answer</p></li>
                    }

                }
            }
        </ul>
    </div>

    <div id="question">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { DefaultButton = "submit_btn", id = "form" }))
        {
            @Html.TextAreaFor(x => x.NewQuestion, new { @class = "form-control", id = "questionArea" })
            <button type="submit" id="submit_btn" class="ask"> Ask! </button>
        }
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        var chat = document.getElementById("history");
        chat.scrollTop = chat.scrollHeight;
    });

    // Enable "Enter" keypress as a default submit button
    $(document).ready(function () {
        $("#form").keypress(function (e) {
            keycode = e.keyCode || e.charCode || e.which //for cross browser
            if (keycode == 13)    //keyCode for enter key
            {
                var defaultbutton = $(this).attr("DefaultButton");
                $("#" + defaultbutton).click();
                return false;
            }
        });
    });

</script>