@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WEARther Forecast</h1>
    <p class="lead">We can provide you with information about the weather and recommendation of what to wear within a week.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <div class="form-horizontal">
                <h4>What do you want to know? Please ask in the box.</h4>
                <hr />
            </div>
        </section>
    </div>
</div>
