@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Editor";
}

<h2>Rule Editor</h2>

<p>Here are the tables of rules</p>

@using (Html.BeginForm())
{
    @Html.ActionLink("Add new fixed rule", "AddFixedRule")
    <br/>
    @Html.ActionLink("Add data-driven rule", "AddDataDrivenRule")
}