@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Approver - Report for rules";
}
<br />
<a href='@Url.Action("index", "Approver")'>
    <input type='button' value='Back' />
</a>
<br />
<p><h2><strong>Approved Rules:</strong></h2></p>
<br />
<h3><strong>Fixed Approved Rules:</strong></h3>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Question</td>
        <td>Ansewer</td>
        <td>Current Status</td>
        <td>Last Editor ID</td>

    </tr>

    <tr>
        <td>01</td>
        <td>How are you?</td>
        <td>Great!</td>
        <td>Approved</td>
        <td>yufei.z222@gmail.com</td>
    </tr>

</table>
<br />

<h3><strong>Data-Driven Approved Rules:</strong></h3>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Question</td>
        <td>Question Column</td>
        <td>Ansewer</td>
        <td>Answer Column</td>
        <td>Current Status</td>
        <td>Last Editor ID</td>
    </tr>

    <tr>
        <td>03</td>
        <td>Invalid Q *</td>
        <td>Day</td>
        <td>Invalid A *</td>
        <td>Weather</td>
        <td>Approved</td>
        <td>zhouamym@gmail.com</td>
    </tr>

</table>
<br />
<h3><strong>Total count of approved rules: 13</strong></h3>
<br />
<h3><strong>Total count of rejected rules: 7</strong></h3>
<br />
<h3><strong>Success rate: 65%</strong></h3>
